/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */

body {
  background: url('./blue-orange.jpg') no-repeat center center/cover;
  /* background-image: url('./garrett-sears-rXVFCA3fQ4I-unsplash.jpg'); */
  /* background-image: url('./benjamin-voros-phIFdC6lA4E-unsplash.jpg'); */
  background-size: 1920px, auto;
}

.profile {
  opacity: .95;
  border-radius: 15px;
}

.item-bio {
  color: white;
  font-size: 22px;
}

.item {

}

.btn {
  
}

.container {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px 400px;
  grid-gap: 20px;
}

.grid {
  display: flex;
  flex: 0 1 auto;
  /* defaults to 'row' */
  flex-direction: row;
  flex-wrap: wrap;
  /* defaults to 'flex-start' */
  justify-content: flex-start;
  align-items: flex-start;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}


